/* ===== NỀN & TOÀN TRANG ===== */
body {
  background: linear-gradient(
    135deg,
    #0d0c10 0%,
    #1f2833 40%,
    #45a29e 70%,
    #66fcf1 100%
  );
  color: #c5c6c7;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin: 0;
  padding: 0;

  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* ===== TIÊU ĐỀ ===== */
h1 {
  color: aliceblue;
  text-transform: uppercase;
  font-size: 42px;
  margin-bottom: 20px;
}

/* ===== ĐƯỜNG KẺ ===== */
hr {
  width: 60%;
  border: 1px solid #66fcf1;
  margin: 20px auto;
}

/* ===== NÚT START GAME ===== */
.start-btn {
  display: inline-block;
  padding: 20px 60px;
  font-size: 36px;
  font-weight: bold;
  color: white;

  background: linear-gradient(45deg, #ff4e50, #f9d423);
  border-radius: 20px;
  text-decoration: none;

  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
  transition: 0.3s;
}

.start-btn:hover {
  transform: scale(1.15);
  box-shadow: 0 14px 25px rgba(0, 0, 0, 0.35);
}
